.nav-link-custom {
    color: rgb(37, 30, 30);
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.20rem;
}
#products-dropdown{
    color: #251e1e;
    font-weight: 500;
    transition: color 0.3s ease;
}
nav-link-custom:hover,
.dropdown-menu .dropdown-item:hover {
    color:#1c1c1b;
}
.custom-dropdown .dropdown-menu {
  background-color: #556B2F;
  border-radius: 10px;
  border: none
}

.custom-dropdown .dropdown-item {
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
    .nav-link-custom {
        font-size: 1rem;
    }
    #products-dropdown{
        font-size: 1rem;
    }
  
}